
.componete-minisite-total{

  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  flex-direction: column;

}


.container-minisite-header{ 
  position: relative;
  top: -200PX;  
  width: 400px;
  height: 200px;

}


.logo { 
    position: relative; 
    border: 4px solid rgb(52, 117, 236);
    padding: 4px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
 }

 .minisite-nome{
  position: relative;
  
}

 .container_Links{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    gap: 5px;
    font-size: 11px;
  
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    background: rgb(52, 117, 236);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 200px;
    padding: 8px 15px 8px 8px;
    font-size: 10px;
    margin: -15px;
    
}

.icone {
    width: 50px;
    padding: 0.5rem;
 }

 .imgSelect{
     display: none;
 }

 .componete-link{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  
 }

 .link-minisite{
  padding: 5px;
  border-radius: 10px;
  background: #333;
  font-size: 7px;
  color: #F2F2F2;
}

.navegarDeVoltaButton{  
    position: absolute;
    top:1px;
    left: 20px;
    font-size:2rem;
    border: none;
    cursor: pointer;  
    color: #F2F2F2;
    background-color: Transparent;
 }

 .componete-minisite{
  width: 400px;
  height: 200px; 
  background: rgb(113, 163, 240);
 }
 
 .icone-link-site{
  width: 35px;
  position: relative;
  right: 100px;
  top: 30px;
 }

 .compartilhar{ 
    position: relative;
    top: 400px;
    left: 180px;
    padding: 0px 10px 0px 10px ;
    font-size: 10px;
    border-radius: 5px;
    transform: rotate(270deg);
    cursor: pointer;
 }

.animacao{
  animation: pulse 2s infinite;
}

 @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    25% {
      -webkit-transform: scale(1.1);
    }
    50% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }



.deletarDoBanco{
  position: relative;
  left: 55px;
  top: -20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  z-index: 1000;
}


